
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    width: 280px;
    height: 298px;

    border-radius: 7px;
}
.emblem {
    object-fit: contain;
    height: 202px;
    align-self: center;
    gap: 1rem;

}

.info{
    color: #000000;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.name{
    font-size: 16px;
    align-self: center;

}

@media (max-width: 480px) {
    .cards {
        height: 260px;
        padding: 0.75rem;
    }

    .emblem {
        height: 120px;
    }

    .name {
        font-size: 16px;
    }

}
