.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1280px;
    padding: 0 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100px;
    gap: 2rem;
}

.logo {
    height: 77px;
    width: auto;
    align-self: center;
    object-fit: contain;
}

.nav {
    display: flex;
    gap: 3rem;
    align-items: flex-end;
}

.navLink {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

    color: #000000;
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
    margin-bottom: 7px;



}

.navLink:hover {
    color: #3c3c3c;
}


.navLink.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #116ACC;
}