.container {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.right {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;

}
.left {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
    }

    .left,
    .right {
        width: 100%;
        justify-content: space-between;
    }
}